@import "tailwindcss";



/* 2. Force Tailwind to generate the specific colors Tremor uses */
@theme {
  --color-tremor-brand: var(--color-indigo-500);
  --color-tremor-content: var(--color-slate-500);
}

